/.metadata
*/RemoteSystemsTempFiles
*/.settings
*/bin
*/.classpath
*/.project
/bl4ckb0t/src/bl4ckscor3/bot/bl4ckb0t/util/Passwords.java
*/target/test-classes
*/target/classes/bl4ckscor3
*/target/classes/logs
*/target/classes/org
*/target/classes/modules